# Uncomment if enabling a postgresql service by uncommenting docker-compose-postgresql.yml in .devcontainer/devcontainer.json#dockerComposeFile
# DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
